PORT=3000
LOGS_LEVEL=info
SMTP_HOST=test.bgord.space
SMTP_PORT=1025
SMTP_USER=abc
SMTP_PASS=abc
EMAIL_FROM=abc@example.com
TZ=UTC
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=password
BETTER_AUTH_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BETTER_AUTH_URL=http://localhost:3000
SIGNUP_ENABLED=yes
