.cspellcache
.env.local
.env.production
.env.staging
.env.test
.eslintcache
.stryker-tmp
build/
infra/adapters/system/tmp/
infra/build-info.json
meta.json
node_modules/
output/
public/*.js
public/*.js.map
public/main.min.css
reports/
sqlite.db*
jobs.db*
test-results/
tmp/
tsconfig.tsbuildinfo
